@import url(sanitize\ \(1\).css);

body{
    background-color: #f0f0f0;
    padding: 10px;
    font-size:  14px;
    color: #666;
}

header
{
    background-color: #422814;
padding: 10px;
color:#f0f0f0 ;}

header h1{
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

div.container{
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba 0,0,0, .3;
}
div.description img{
    float: left;
    margin: 0 10px 10px 0;
}
h2{
    clear: right;
}



span.type{
    background-color: #e35a4d;
    padding: 2px 3px;
    color: #fff;
    font-size: .6em;
    
}

.information{
    display: flex;
    align-items: center;
}

.information h1{
    font-size: 18px;
    margin:  0 10px 0 0;
}

div.songs{
    clear: both;
}

div.songs h2{
    font-size: 1em;
    font-weight:  normal;
    margin: 0;
    background-color: #e6e4dd;
    padding: 5px 10px;
}

div.songs ol {
    padding:0;
    margin: 0;
    list-style-type: inslde;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.songs li{
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

section{
    padding: 20px;
    background-color: #fff;
}